<h1 mat-dialog-title>Edit User</h1>
<div class="jumbotron">
  <div class="container">
    <form [formGroup]="editForm">
      <dl>
        <dt>
          <mat-form-field>
            <label>
              <input matInput type="text" placeholder="name" formControlName="name" [(ngModel)]="name" [ngClass]="{ 'is-invalid': submitted && editForm.errors }"/>
              <div *ngIf="submitted && error.name.errors" class="invalid-feedback">
                <div *ngIf=" error.name.errors.required">Name is required</div>
              </div>
            </label>
          </mat-form-field>
        </dt>
        <dt>
          <mat-form-field>
            <label>
              <input  matInput type="text" placeholder="email" formControlName="email" class="from-control" [(ngModel)]="mail" [ngClass]="{ 'is-invalid': submitted && editForm.errors }" value="{{mail}}" />
              <div *ngIf="submitted && editForm.errors" class="invalid-feedback">
                <div *ngIf="error.email.errors.required">Email is required</div>
                <div *ngIf="error.email.errors.email">Email must be a valid email address</div>
              </div>
            </label>
          </mat-form-field>
        </dt>
        <dt>
          <mat-form-field>
            <mat-label>Rights</mat-label>
            <select matNativeControl required formControlName="admin" [(ngModel)]="admin" [ngClass]="{'is-invalid': submitted && editForm.errors }" >
              <option *ngFor="let right of adminrights" [value]="right.value"  [selected]="right == admin" >
                {{right.viewValue}}
              </option>
              <div *ngIf="submitted && editForm.errors" class="invalid-feedback">
                <div *ngIf="error.admin.errors.required">Is required</div>
              </div>
            </select>
          </mat-form-field>
        </dt>
        <dt *ngIf="selfEdit">
          <mat-form-field>
            <label>
              <input matInput type="password" placeholder="current password" formControlName="currentPassword" [ngClass]="{ 'is-invalid': submitted && editForm.errors }" />
              <div *ngIf="submitted && editForm.errors" class="invalid-feedback">
                <div *ngIf="error.password.errors.required">Password is required</div>
              </div>
            </label>
          </mat-form-field>
        </dt>
        <dt *ngIf="selfEdit">
          <mat-form-field>
            <label>
              <input matInput type="password" placeholder="new password" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && editForm.errors }" />
              <div *ngIf="submitted && editForm.errors" class="invalid-feedback">
                <div *ngIf="error.password.errors.required">Password is required</div>
                <div *ngIf="error.password.errors.minlength">Password must be at least 4 characters</div>
              </div>
            </label>
          </mat-form-field>
        </dt>
        <dt *ngIf="selfEdit">
          <mat-form-field>
            <label>
              <input matInput type="password" placeholder="repeat password" formControlName="confirmPassword"[ngClass]="{ 'is-invalid': submitted && editForm.errors }" />
              <div *ngIf="submitted && editForm.errors" class="invalid-feedback">
                <div *ngIf="error.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="error.confirmPassword.errors.checkPWD">Passwords must match</div>
              </div>
            </label>
          </mat-form-field>
        </dt>
      </dl>

      <mat-dialog-actions>
        <button class="settings-button"(click)="save()">Save</button>
        <button class="settings-button delete-button"(click)="delete()">Delete</button>
      </mat-dialog-actions>
    </form>
  </div>
</div>
