<div class="general-notification-settings">
  <div class="header">
    <h2>Settings</h2>
  </div>
  <div class="notification-settings">
    <label class="notification-options">Notifications</label>
    <label class="switch">
      <input #notificationsid id="notifications" type="checkbox" [checked]="notification" (change)="changeSetting(notificationsid)">
      <span class="slider"></span>
    </label>
  </div>
  <div class="notification-settings">
    <label class="notification-options">SMS</label>
    <label class="switch">
      <input #smsid id="sms" type="checkbox" [checked]="sms" (change)="changeSetting(smsid)">
      <span class="slider"></span>
    </label>
  </div>
  <div class="notification-settings">
    <label class="notification-options">E-Mail</label>
    <label class="switch">
      <input #mailid id="mail" type="checkbox" [checked]="mail" (change)="changeSetting(mailid)">
      <span class="slider"></span>
    </label>
  </div>
</div>
