.general-notification-settings {
  text-align: center;

  .notification-options {
    margin: 10px;
    display: inline-block;
    width: 100px;
    padding: 1px;

    .notification-settings {
      margin: 10px;
    }
  }
}


