<div class="general-notification-settings">
  <div class="header">
    <h2>Settings</h2>
  </div>
  <div class="notification-settings">
    <label class="notification-options">Notifications</label>
    <label class="switch">
      <input #notifications id="notifications" type="checkbox" [checked]="notification" (change)="changeSetting(notifications)">
      <span class="slider"></span>
    </label>
  </div>
  <div class="notification-settings">
    <label class="notification-options">SMS</label>
    <label class="switch">
      <input #sms id="sms" type="checkbox" [checked]="sms" (change)="changeSetting(sms)">
      <span class="slider"></span>
    </label>
  </div>
  <div class="notification-settings">
    <label class="notification-options">E-Mail</label>
    <label class="switch">
      <input #mail id="mail" type="checkbox" [checked]="mail" (change)="changeSetting(mail)">
      <span class="slider"></span>
    </label>
  </div>
</div>
