<div class="general-notification-settings">
  <div class="header">
    <h2>Settings</h2>
  </div>
  <div class="notification-settings">
    <label class="notification-options">Notifications</label>
    <label class="switch">
      <input type="checkbox" [checked]="notification">
      <span class="slider"></span>
    </label>
  </div>
  <div class="notification-settings">
    <label class="notification-options">SMS</label>
    <label class="switch">
      <input type="checkbox" [checked]="sms">
      <span class="slider"></span>
    </label>
  </div>
  <div class="notification-settings">
    <label class="notification-options">E-Mail</label>
    <label class="switch">
      <input type="checkbox" [checked]="mail">
      <span class="slider"></span>
    </label>
  </div>
</div>
