<div class="header">
  <h1>Overall</h1>
</div>
<div class="settings">
  <div class="general-notification-settings">
    <div class="notification-settings">
      <label class="notification-options">Notifications</label>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
    <div class="notification-settings">
      <label class="notification-options">SMS</label>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
    <div class="notification-settings">
      <label class="notification-options">E-Mail</label>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <div class="connected-devices">
    <div class="header">
      <label>Connected Devices</label>
      <button>Add Device</button>
    </div>
    <div class="devices-table">
      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
        <tr>
          <td>W1</td>
          <td>Window</td>
        </tr>
        <tr>
          <td>D1</td>
          <td>Door</td>
        </tr>
      </table>
    </div>
  </div>
</div>
