.header {
  text-align: center;
  padding-top: 10px;
  border-bottom: black solid 1px;

  > h1 {
    font-weight: bold;
    display: inline-block;
  }

  .settings-button {
    margin: 0px 10px 0px 0px;
    width: 250px;
    position: absolute;
    right: 10px;
  }
}

.settings {
  display: flex;
  flex-wrap: wrap;

  .screen-size {
    width: 33%;
  }
}

@media only screen and (max-width: 414px) {
  .header {
    text-align: center;
  }
  .settings {  
    .screen-size {
      margin: 0px 0px 0px 10px;
      width: 99%;
    }
  }
}