<h1 mat-dialog-title> Add user to system</h1>

<div>
<dl>
  <dt>
    <mat-form-field>
      <label>
        <input matInput placeholder="user name" formControlName="name">
      </label>
    </mat-form-field>
  </dt>
  <dt>
    <mat-form-field>
      <label>
        <input matInput placeholder="email" formControlName="email">
      </label>
    </mat-form-field>
  </dt>
  <dt>
    <mat-form-field>
      <label>
        <input matInput placeholder="password" formControlName="password">
      </label>
    </mat-form-field>
  </dt>
  <dt>
    <mat-form-field>
      <label>
        <input matInput placeholder="repeat password" formControlName="repeat password">
      </label>
    </mat-form-field>
  </dt>
</dl>

  <mat-dialog-actions>
    <button class="close-button"(click)="close()">Close</button>
    <button class="save-button"(click)="save()">Save</button>
  </mat-dialog-actions>
</div>
