<h1 mat-dialog-title> Add user to system</h1>

<div>
<dl>
  <dt>
    <mat-form-field>
      <input matInput placeholder="user name" formControlName="name">
    </mat-form-field>
  </dt>
  <dt>
    <mat-form-field>
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
  </dt>
</dl>

  <mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
  </mat-dialog-actions>
</div>
