.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px 0px 0px;

  .sensor {
    width: 32%;
    margin: 0px 10px 0px 10px;
  }
}

// @media only screen and (max-width: 1600px) {
//   .flex-container {
//     .sensor {
//       width: 50%;
//       margin: 0px 10px 10px 10px;
//     }
//   }
// }

// @media only screen and (max-width: 1100px) {
//   .flex-container {
//     .sensor {
//       width: 100%;
//       margin: 0px 10px 10px 10px;
//     }
//   }
// }

// @media only screen and (max-width: 500px) {
//   .flex-container {
//     .sensor {
//       width: 82%;
//     }
//   }
// }

@media only screen and (max-width: 320px) {
  .flex-container {
    .sensor {
      width: 99%;
      margin: 5px 10px 5px 0px;
    }
  }
}

@media only screen and (max-width: 414px) {
  .flex-container {
    .sensor {
      width: 100%;
      margin: 5px 5px 5px 0px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .flex-container {
    .sensor {
      width: 32%;
      margin: 0px 5px 0px 0px;
    }
  }
}