<h1 mat-dialog-title>Add rule</h1>
<div class="jumbotron">
  <div class="container">
    <form [formGroup]="rulesForm">
      <dl>
        <dt>
          <mat-label>If</mat-label>

          <mat-form-field>
            <select matNativeControl required formControlName="sensors" [(ngModel)]="chosenSensor" [ngClass]="{'is-invalid': submitted && rulesForm.errors }" >
              <option *ngFor="let sensor of sensors" [value]="sensor.id" [selected]="sensor.id == chosenSensor">
                {{sensor.text}}
              </option>
              <div *ngIf="submitted && rulesForm.errors" class="invalid-feedback">
                <div *ngIf="error.sensors.errors.required">Is required</div>
              </div>
            </select>
          </mat-form-field>

          <mat-form-field>
            <select matNativeControl required formControlName="types" [(ngModel)]="chosenType" [ngClass]="{'is-invalid': submitted && rulesForm.errors }" >
              <option *ngFor="let type of types" [value]="type.value" [selected]="type.value == chosenType">
                {{type.value}}
              </option>
              <div *ngIf="submitted && rulesForm.errors" class="invalid-feedback">
                <div *ngIf="error.types.errors.required">Is required</div>
              </div>
            </select>
          </mat-form-field>

          <mat-form-field>
            <label>
              <input matInput type="text" placeholder="value" formControlName="value" [ngClass]="{ 'is-invalid': submitted && rulesForm.errors }" />
              <div *ngIf="submitted && error.value.errors" class="invalid-feedback">
                <div *ngIf="error.value.errors.required">Value</div>
              </div>
            </label>
          </mat-form-field>
        
          <mat-label>Then</mat-label>
        
          <mat-form-field>
            <select matNativeControl required formControlName="responses" [(ngModel)]="chosenReponse" [ngClass]="{'is-invalid': submitted && rulesForm.errors }" >
              <option *ngFor="let response of responses" [value]="response.value" [selected]="response.text == chosenReponse">
                {{response.text}}
              </option>
              <div *ngIf="submitted && rulesForm.errors" class="invalid-feedback">
                <div *ngIf="error.responses.errors.required">Is required</div>
              </div>
            </select>
          </mat-form-field>
        
          <mat-form-field>
            <select matNativeControl required formControlName="actuators" [(ngModel)]="chosenActuator" [ngClass]="{'is-invalid': submitted && rulesForm.errors }" >
              <option *ngFor="let actuator of actuators" [value]="actuator.id" [selected]="actuator.id == chosenActuator">
                {{actuator.text}}
              </option>
              <div *ngIf="submitted && rulesForm.errors" class="invalid-feedback">
                <div *ngIf="error.actuators.errors.required">Is required</div>
              </div>
            </select>
          </mat-form-field>
        </dt>
      </dl>

      <mat-dialog-actions>
        <button class="save-button btn btn-primary"(click)="save()">Save</button>
      </mat-dialog-actions>
    </form>
  </div>
</div>