<div class="container">
  <div class="login-center">
    <img class="login-img" alt="Logo" src="./../../../../assets/images/logo.png"><br>
    <form class="login-form" [formGroup]="loginForm" (submit)="onSubmit()">
      <h1>Login</h1>
      <input type="text" placeholder="E-mail Address" formControlName="mail" autocomplete="off" />
      <input type="password" placeholder="Password" formControlName="password" />
      <button class="login-submit" [disabled]="loginForm.invalid">Login</button>
      <div [hidden]="invalidLogin" style="color: white; font-weight: bold;">
          <span>Invalid username or password!</span>
      </div>
    </form>
  </div>
</div>
