<div class="sensor-object">
  <h2>{{header}}</h2>
  <div class="notification-settings">
    <label class="notification-options">Notifications</label>
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
  <div class="notification-settings">
    <label class="notification-options">SMS</label>
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
  <div class="notification-settings">
    <label class="notification-options">E-Mail</label>
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
  <div class="sensors-table">
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <tr>
        <td>{{header}}1</td>
      </tr>
      <tr>
        <td>{{header}}2</td>
      </tr>
    </table>
  </div>
  <button class="settings-button">Add Sensor</button>
</div>
